body{
    background-color: #C1C1C1;
    width: 360px;
    height: 663px;

    max-width: 400px;
    /* vertical-align: middle; */

}

html{
  display: flex;
  align-items: center;
  justify-content: center;
}

#tampilan{
    background-color:white;
    height: 663px;
    width: 359px;
    max-width: 400px;
    /* vertical-align: middle; */
}

#bar_notip{
    background-color:#1989DF ;
    width: 359px;
    height: 24.86px;
    left: 0px;
    top: 0px;
}

